.app-wrapper {
  margin: 0 auto;
  display: grid;
  width: 1200px;
  grid-template-areas: 
  "h h"
  "n c"
  "f f";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /* grid-gap: 10px; */
}

.header {
  grid-area: h;
  background-color: antiquewhite;
  
}

.header img {
  width: 40px;
}

.nav {
  grid-area: n;
  background-color: aqua;
}

.contant {
  grid-area: c;
  background-color: yellowgreen
}

.footer {
  grid-area: f;
  background-color: blueviolet;
}